<aside class="main-sidebar">

    <section class="sidebar" style="height: auto;">    
        <ul class="sidebar-menu tree" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li>
                <a [routerLink]="['/dashboard']" [routerLinkActive]="['active']" href="javascript:void(0)">
                    <i class="fa fa-th"></i> <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/movies']" [routerLinkActive]="['active']" href="javascript:void(0)">
                    <i class="fa fa-video-camera"></i> <span>Movies</span>
                </a>
            </li>            
        </ul>
    </section>
</aside>